@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --white: #E2E8F0;
    --black: #0b0b0b;
    --blue: #986dff;
    --blue-light: #4070f4;
    --white-light: #FFFFFF
}

:root {
    --body-font: "Archivo", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400px;
}

html,
body {
    height: fit-content;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    scroll-behavior: smooth;
}

p {
    line-height: 21px;
}

.clear {
    clear: both !important;
}

body {
    /* HEADER */
    .header {
        width: 100%;
        min-height: 69px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        top: 0;
        z-index: 99;

        .menu__name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            a {
                font-size: 20px;
                text-decoration: none;
            }

            .theme {
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                cursor: pointer;
                padding: 2px;
                border-radius: 4px;
            }
        }

        .menu__list {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;

            .menu__item {
                list-style-type: none;

                .menu__link {
                    text-decoration: none;
                    position: relative;

                    &:hover {
                        font-weight: 400;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: -7px;
                        left: 0;
                        transform-origin: bottom right;
                        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }

                    &.active {
                        font-weight: 500;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: -6px;
                            position: absolute;
                            transform: scaleX(1);
                            transform-origin: bottom right;
                            transition: none;
                        }
                    }
                }

                .icon_menu {
                    display: none;
                    margin: 8px 0;
                    text-decoration: none;
                    position: relative;
                    &:hover {
                        i{
                            font-weight: 400;

                        }
                    }
                    
                    i {
                        font-size: 19px;
                    }
                }
            }
        }

        .hamburger {
            width: fit-content;
            height: fit-content;
            display: none;
            font-size: 24px;
            background-color: transparent;
            border: none;
            color: #111111;
            cursor: pointer;

            i {
                font-size: 32px;
            }
        }
    }


    /*MAIN*/
    .main {
        overflow: hidden;

        .main__perfil {
            display: flex;
            align-items: center;

            .main_name {
                width: 100%;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: absolute;

                .name_container {
                    .name_text {
                        font-size: 40px;
                        font-weight: 600 !important;
                        font-weight: bold;
                    }

                    /* background-color: blue; */
                }

                .avatar {
                    width: 450px;
                    height: 510px;
                    border-radius: 30%;

                    img {
                        width: 500px;
                    }
                }
            }

            .canvas {
                /* position: absolute; */
                width: 100%;
            }
        }

        .main_about {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .main_about_name {
                padding: 38px 0 38px 0;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .tag {
                    font-size: 30px;
                }
            }

            .main_about_container {
                display: flex;
                padding: 0 80px;
                gap: 50px;
                justify-content: space-around;

                .about {
                    text-align: justify;
                    /* background-color: red; */
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 12px;

                    a {
                        text-decoration: none;
                    }

                    img {
                        height: 450px;
                    }
                }
            }
        }

        .main_experience {
            padding: 48px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .main_experience_name {
                padding: 38px 0 38px 0;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .tag {
                    font-size: 30px;
                }
            }

            .main_experience_container {
                width: 80%;
                height: 273px;
                display: flex;
                align-items: flex-start;
                gap: 20px;

                .options_experience {
                    height: 100% !important;

                    .item_options {
                        font-size: 18px;
                        display: flex;
                        justify-content: flex-start;
                        background-color: transparent;
                        border: none;
                        width: 257px;
                        height: 68px;
                        padding: 24px 32px;
                        cursor: pointer;
                        border-left: 3px solid transparent;
                    }

                    .active_experience {
                        font-weight: 700;
                    }

                }

                .text_experience {
                    .text_title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h4 {
                            font-size: 16px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    h5 {
                        font-size: 18px;
                        margin: 12px 0;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        text-align: justify;
                    }
                }

            }

        }

        .main_projects {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .main_projects_name {
                padding: 38px 0 38px 0;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .tag {
                    font-size: 30px;
                }
            }

            .manun {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .swiper {
                width: 1035px;
                height: auto;
                padding: 20px 0;
            }

            .swiper-slide {
                background-color: rebeccapurple !important;
                width: 416px;
                height: 416px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 2px;
                font-size: 22px;
                font-weight: bold;
                padding: 42px 42px 12px 42px;
                gap: 12px;

                .card_image {
                    width: 100%;
                    height: 80%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .card_text {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    flex-wrap: nowrap;
                    overflow: hidden;

                    p {
                        text-align: justify;
                        word-wrap: break-word;
                        margin: 0;

                    }

                    .text {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                .card_secondary {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    border-radius: 2px;
                    display: none;
                    padding: 45px;
                }

                &:hover {
                    .card_secondary {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .area_card_sec {
                            position: absolute;
                            top: 10px;
                            left: 15px;
                            font-size: 20px;

                        }

                        .status_card_sec {
                            position: absolute;
                            bottom: 10px;
                            right: 15px;
                            font-size: 20px;
                        }

                        .name_project_card_sec {
                            font-size: 27px;
                        }

                        .list_card_sec {
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                a {
                                    position: relative;
                                    font-size: 20px;
                                    text-decoration: none;

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        transform: scaleX(0);
                                        height: 2px;
                                        bottom: -7px;
                                        left: 0;
                                        transform-origin: bottom right;
                                        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
                                    }

                                    &:hover::after {
                                        transform: scaleX(1);
                                        transform-origin: bottom left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .main_skills {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .main_skills_name {
                padding: 38px 0 38px 0;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .tag {
                    font-size: 30px;
                }
            }

            .main_skills_container {
                width: 50%;

                .main_skills_item {
                    padding: 20px 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .item_language {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 30px;
                        box-sizing: border-box;

                        .language {
                            position: relative;
                            border-radius: 8px;
                        }

                        .language_box {
                            width: 100px;
                            height: 100px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            z-index: 1;
                            padding: 4px;

                            p {
                                text-align: center;
                            }
                        }
                    }
                }

            }

        }

        .main_contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 0;
            
            .main_contact_name {
                padding: 38px 0 38px 0;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .tag {
                    font-size: 30px;
                }
            }

            .main_contact_container {
                width: 75%;
                padding: 40px;
                display: flex;
                justify-content: space-around;
                .form_contact {

                    .title_form {
                        font-size: 22px;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 40%;
                    input {
                        height: 33px;
                        padding: 0 10px;
                    }
        
                    textarea {
                        padding: 4px 10px;
                        resize: none;
                    }
        
                    .buttons {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        button {
                            height: 39px;
                            cursor: pointer;
                        }
                    }
                }

                .info_contact {
                    width: 40%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .box_info {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .links_info {
                            display: flex;
                            gap: 20px;

                            i {
                                font-size: 42px;
                            }
                        }
                    }

                    h3 {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    
                    p {
                        font-size: 1rem;
                    }

                }
            }

        }
    }

    /*FOOTER*/
    .footer {
        height: 77px;
        padding: 14px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}